body{
  background-color: #fefefe;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

.skeleton {
  display: flex;
  flex-direction: column;
}

.skeleton-item {
  background: #e0e0e0; /* Light grey color */
  height: 20px;
  margin: 5px 0;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
